* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box; /* 添加这一行以确保padding和border包含在元素的总宽度和高度中 */  
}  
  
body {  
    height: 100vh;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    position: relative;  
    overflow: hidden;  
    perspective: 1300px; 
}  
  
.textone, .texttwo, .textthree {  
    position: absolute;  
    left: 50%;  
    top: calc((100% - 3em) / 3 * (1 - n)); /* 这里的n是1、2、3，分别对应.textone、.texttwo、.textthree */  
    transform: translateX(-50%);  
    text-align: center; /* 水平居中文本 */  
    max-width: 90vw; /* 使用vw单位以适应不同屏幕宽度 */  
    white-space: nowrap; /* 防止文本换行 */  
    overflow: hidden; /* 隐藏超出容器的文本 */  
    text-overflow: ellipsis; /* 如果文本超出容器，用省略号表示 */  
} 
.textone { top: calc((100% - 3em) / 3 * 1); }  
.texttwo { top: calc((100% - 3em) / 3 * 1.5); }  
.textthree { top: calc((100% - 3em) / 3 * 2); } 
:root {
    --margin-top: 0;
    --margin-left: 0;
    --animation-duration: 0s;
    --animation-delay: 0s;
}
div {
    transform-style: preserve-3d;
}
.word-box,
.word-box .word{
position: absolute;
animation: rotY 0s linear infinite;
animation-duration: var(--animation-duration);
animation-delay: var(--animation-delay);
}
.word-box{
    margin-top: var(--margin-top);
}
.word-box .word{
    margin-left: var(--margin-left);
}
.word-box .word {
    animation-duration: reverse;
}
@keyframes rotY {
    to{
        transform: rotateY(360deg);
    }
    
}
